* {
  box-sizing: border-box;
}

:root {
  --bs-body-color: #333;
  --bs-body-secondary-color: #f7f7f7;
  --bs-text-color: rgba(71, 71, 71, 0.75);
  --bs-text-secondary-color: #333;
  --bs-body-font-family: "RobotoSlab", sans-serif;
}

body {
  color: var(--bs-body-color);
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("./fonts/playfair/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("./fonts/roboto-slab/RobotoSlab-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

/* HIER DRÜBER NOCHMAL CHECKEN */

/* umbennen, ggf. refactorn */
.background-hero {
  background-color: var(--bs-body-secondary-color);
  min-height: 80vh;
}

/* remame */
.hero-image {
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

/* Rename */
.height-400 {
  height: 400px;
}
/* Rename */
.pos-rel {
  position: relative;
}

.link {
  text-decoration: none;
  color: #333;
  border-bottom: 1px dashed #333;
  font-weight: 400;
}

.link:hover {
  color: var(--bs-text-color);
}

h1 {
  color: var(--bs-text-color);
}

h2 {
  font-size: 4rem;
  font-family: "PlayfairDisplay";
}

p {
  line-height: 1.7;
  font-weight: 300;
  color: var(--bs-text-color);
}

b {
  color: var(--bs-text-secondary-color);
}

.partner-logo {
  height: 100px;
  width: 200px;
}

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

.feature-image {
  width: 28px;
  height: 28px;
}

.feature {
  font-size: 1.16rem;
}

.secondary-background {
  background-color: var(--bs-body-secondary-color);
}

@media screen and (max-width: 767px) {
  .background-hero {
    min-height: 40vh;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 16px;
  }

  /* Rename */
  .height-400 {
    min-height: auto;
  }
}

/* AB HIER ERSTMAL NICHT WEITER */

.max-width-1920 {
  max-width: 1920px;
  margin: auto;
}

.col-image {
  min-height: 500px;
  position: relative;
}

.icons {
  height: 100px;
  background-color: #fff;
  font-weight: 300;
}

.icon {
  height: 48px;
  width: 48px;
  filter: invert(20%) sepia(64%) saturate(2%) hue-rotate(102deg)
    brightness(100%) contrast(81%);
}

.font-18 {
  font-size: 18px;
}

.font-22 {
  font-size: 22px;
}

.room-image {
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0 28px 64px 0 rgba(0, 0, 0, 0.2),
    0 36px 72px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  min-height: 50vh;
  position: relative;
}

/* Icons kommen von hier: https://iconduck.com/search?query=vectorSetIds%3A1273%3A+info */
/* Unsplash Hero bild kommt von hier: https://unsplash.com/photos/a-mountain-range-with-trees-BC8p5irdF2I */
/* https://unsplash.com/photos/cow-on-lawn-grass-mHcm4Bcu-Gs */
/* https://unsplash.com/photos/brown-log-lot-at-daytime-UuX-Le3bfzc */
/* bg-light ist zb bootstrap klasse für hintergrund. daher mal schauen ob wir das im css überhaupt brauchen oder ob wir das irgendwie anders hinbekommen */

/* Development only - delete later */
html {
  min-height: 2400px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.purple {
  color: purple;
}

/* Start vacation description */
/* Rename */
.vacation-description {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 300;
  color: #333;
}

/* Start features */

/* End features */

/* Start icons */
.button-link {
  text-decoration: none;
  color: rgba(71, 71, 71, 0.75);
}

.button-link:hover {
  color: #fff;
}

button:hover .button-link:not(:hover) {
  color: #fff;
}

/* Switch to variables in the entire file */
.btn-outline-dark {
  --bs-btn-color: var(--bs-text-color);
  --bs-btn-border-color: var(--bs-text-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-text-color);
  --bs-btn-hover-border-color: var(--bs-text-color);
  --bs-btn-active-bg: var(--bs-body-color);
}
/* End icons */

/* Start price */

/* End price */

/* remove all other classes and only stick with p for those with the same properties */
