* {
  box-sizing: border-box;
}

:root {
  --bs-body-color: #333;
  --bs-body-font-family: 'PlayfairDisplay', sans-serif;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/playfair/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('./fonts/roboto-slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

html {
  max-width: 1920px;
  margin: auto;
}

body {
  color: #333;  
}

.roboto-slab {
  font-family: "RobotoSlab";
  color: rgba(71, 71, 71, .75);
}

.h1 {
  font-size: 14px;
  font-weight: 400;
}

.h2 {
  font-weight: 700;
  font-size: 4rem;
}

.intro {
  font-size: 15;
  line-height: 1.7;
}

.background-hero {
  background-color: #F7F7F7;
  min-height: 80vh;
}

.hero-image {
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.col-image {
  min-height: 500px;
  position: relative;
}

.icons {
  height: 100px;
  background-color: #fff;
}

.icon {
  height: 48px;
  width: 48px;
}





/* Icons kommen von hier: https://iconduck.com/search?query=vectorSetIds%3A1273%3A+info */
/* Unsplash Hero bild kommt von hier: https://unsplash.com/photos/a-mountain-range-with-trees-BC8p5irdF2I */